body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  overflow: hidden;
}

table th,
table td {
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  padding: 10px;
}

table th {
  background-color: #333333;
  color: white;
}

table tr:nth-child(even) td {
  background-color: #ffffff;
}
