table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #999999;
  padding: 5px;
}

table th {
  background-color: #cccccc;
  color: black;
}

table tr {
  background-color: #ffffff;
}

table tr:nth-child(even) {
  background-color: #f8f8f8;
}
