table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  padding: 10px;
}

table th {
  background-color: #333333;
  color: white;
}

table tr:nth-child(even) td {
  background-color: #c8c8c8;
}
